@charset "UTF-8";
body {
    background-color: #ffff80
}

.padding {
    padding: 15rem !important
}

.signup-form {
    height: 600px;
    background-color: #fff;
    padding: 45px;
    border-radius: 20px;
}

h2 {
    font-size: 36px;
    letter-spacing: 0.08em
}

.signup-form .form-control {
	margin-top: 30px;
    font-size: 19px;
    padding: 10px 15px;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    height: 60px;
}

.signup-form input {
    border: 1px solid #eee;
    height: 38px;
    box-shadow: none !important
}

.btn-blue {
	float: right;
    background: #000000;
    padding: 10px 28px;
    border: 2px solid #c0c0c0;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background: #fff;
    color: #496174
}