@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

p {
    margin: 0
}

.container {
    margin: 20px auto
}

.box {
	height: 700px;
    margin-top: 200px;
    background-color: #e1f5fe;
    padding: 30px;
    border-radius: 10px
}

.row {
    background-color: #FFFF;
    border: 1px solid #ddd;
    border-radius: 10px
}

.viewbox {
    margin-left: 0px;
    padding: 10px 20px
}

.blue {
    color: #2196F3;
    font-size: 30px
}

.card {
    margin: 20px 0;
    padding: 20px 30px
}

.mx1 {
    margin: 0 1px
}

.p-green {
    background-color: #34df1d
}

.progress {
    height: 12px;
    position: relative;
    overflow: visible
}

.h-dash {
    font-size: 25px
}

.textmuted {
    color: #7a7a7a;
    font-size: 14px
}

.fas {
    font-size: 20px;
    color: #636363;
    padding-right: 20px
}

.box2 {
	height: 450px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px
}

.icon1 {
    font-size: 10px;
    position: absolute;
    background-color: #FFFF;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    right: 0;
    top: -10px
}

.icon2 {
    font-size: 10px;
    position: absolute;
    background-color: #FFFF;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 50%;
    top: -10px
}

.far.fa-star {
    font-size: 10px;
    padding: 10px
}

.fas.fa-check {
    font-size: 10px;
    padding: 10px;
    color: #237518
}

.buttonstyle{
	color: black;
    text-decoration-line: none;
}
}