@charset "UTF-8";

body {
    font-family: roboto;
    background-color: #e9ecef
}

.container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.card {
	border-color: black !important;
	height: 630px;
    width: 600px;
    box-sizing: border-box;
    border-radius: 10px !important;
    margin: 15px;
}

h2.headingmain {
    font-weight: bold
}

h3 {
    font-weight: bold
}

h5 {
    font-weight: bold
}

small.text-muted {
    font-weight: bold
}

p.card-text {
    font-size: 11px;
    font-weight: bold
}

.btn-dark {
    color: #dae0e5;
    font-size: 13px;
    font-weight: bold
}

.btn.nxt {
    background: #fff;
    border: 2px solid #dae0e5;
    color: #6c757d;
    font-size: 13px;
    font-weight: bold
}

.card-footer {
    background: #fff;
    border: none;
    outline: none
}

.box {
	height: 70px;
}

.write{
	margin-top: 11px;
}
